<div class="container mt-4">
  <h3>Actualizar Usuario</h3>

  <div *ngIf="mensaje" class="alert alert-success">{{ mensaje }}</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <form (ngSubmit)="actualizar()" #formUsuario="ngForm">

    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input [(ngModel)]="usuario.nombre" name="nombre" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input [(ngModel)]="usuario.correo" name="correo" type="email" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Teléfono</label>
      <input [(ngModel)]="usuario.telefono" name="telefono" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input [(ngModel)]="usuario.contrasena" name="contrasena" type="password" class="form-control" required>
    </div>

    <div class="mb-3">
  <label class="form-label">Rol</label>
  <select
    [(ngModel)]="usuario.roles"
    name="roles"
    class="form-select"
    required
  >
    <option *ngFor="let r of roles" [ngValue]="[r]">{{ r.nombre }}</option>
  </select>
</div>

    <button class="btn btn-primary" type="submit">
      <i class="fas fa-save me-2"></i>Actualizar
    </button>

  </form>
</div>
