<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Listado de Usuarios</h3>
  </div>

  <table class="table table-bordered table-hover mt-3">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.idUsuario }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.rol }}</td>
        <td>
          <a [routerLink]="['/home/actualizar-usuarios', usuario.idUsuario!]" class="btn btn-sm btn-outline-primary me-2">
  <i class="fas fa-edit"></i> Editar
</a>
          <!--<button class="btn btn-sm btn-outline-danger" (click)="eliminar(usuario.idUsuario!)">
            <i class="fas fa-trash"></i> Eliminar
          </button>-->
        </td>
      </tr>
    </tbody>
  </table>
</div>


